:host{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90svh;
  flex-direction: column;
}

.scoreboard{
  margin-top: 100px;
  display: flex;
  gap: 1rem;
  color: gray;
  align-items: center;
}

button {
  font-size: large;
  font-weight: 600;
  color: #808080;
  padding: 5px;
  height: fit-content;

  :hover {
    color: #97ba1e;
  }
}

.rules {
  margin-top: 50px;
  width: 420px;
  color: #808080;
  font-size: larger;
}