<app-locale-switcher (localeChanged)="onLocaleChanged($event)"></app-locale-switcher>

<div class="scoreboard">
  <div class="scoreboard_text">
    <p>{{'TURN' | translate }}: {{ turn$$() }}</p>
    <p>{{'SCORE' | translate }}: {{ score$$() }}</p>
  </div>
   <button (click)="restartGame()">{{ 'NEW_GAME' | translate }}</button>
</div>

<grid-container class="game">
  @for(cell of state$$(); track $index;) {
    <grid-cell bcgColour [bcg]="cell.value" [cellKey]="cell.key" [cellValue]="cell.value" ></grid-cell>
  }
</grid-container>
<ng-container *ngIf="isMobile$$()">
  <app-keyboard (keyboardClick)="onKeyboardClick($event)"></app-keyboard>
</ng-container>

<div class="rules">
  {{ 'RULES' | translate }}
</div>

<!-- <ng-container *ngIf="{
  core: i18nCore$ | async,
} as i18n">
  <p>{{ i18n.core?.language }}</p>
</ng-container> -->