<div class="scoreboard">
  <div class="scoreboard_text">
    <p>Turn: {{ turn$$() }}</p>
    <p>Score: {{ score$$() }}</p>
  </div>
   <button (click)="restartGame()">New game</button>
</div>

<grid-container class="game">
  @for(cell of state$$(); track $index;) {
    <grid-cell bcgColour [bcg]="cell.value" [cellKey]="cell.key" [cellValue]="cell.value" ></grid-cell>
  }
</grid-container>
<ng-container *ngIf="isMobile$$() || isTablet$$()">
  <app-keyboard (keyboardClick)="onKeyboardClick($event)"></app-keyboard>
</ng-container>

<div class="rules">
  How to play: Use your arrow keys to move the tiles. Tiles with the same number merge into one when they touch. Add them up to reach 512!
</div>