:host{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90svh;
  flex-direction: column;
}

.scoreboard{
  display: flex;
  gap: 1rem;
  color: gray;
}

.has-value {
  color: gray;
  background-color: orange;
  transition: 300ms;
}