:host{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

i {
  display: block;
  color: black;
  font-size: larger;
  width: 60px;
  height: 60px;
  margin: 5px;
  border: solid 1px black;
}

button {
  margin: 5px;
}

svg {
  fill: black;
}
